{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
      <link rel="icon" href="{% static 'imgs/favicon.ico' %}">

	    <title>DisEasy</title>

	    <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
	  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

	    <!-- Custom styles for this template -->
      <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">

      <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

	    <style type="text/css">
	    	.nav > li > a:hover, .nav > li > a:focus {
  			background-color: #88c4c4;
  			text-decoration: none;
		}
		body{
			font-family: Abel;
				font-weight: bold;
		}
	    </style>

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body background="{% static 'img/backgroundpattern.jpg' %}">
		<nav class="navbar navbar-fixed-top" style="background-color: #77bbbb; color:black;">
			<div class="container">
				<div id="navbar" class="navbar-header">
          <img src="{% static 'img/diseasylogo.png' %}" width="50" height="50" alt="">
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html" style="color: black;">HOME</a></li>
						<li><a href="about.html" style="color: black;">ABOUT</a></li>
						<li><a href="" style="color: black;">SERVICES</a></li>
						<li><a href="" style="color: black;">LOG-IN</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div class="container">
			<div class="panel panel-default" style="border:0; box-shadow: none;">
				<div class="row row-centered">
					<div class="col-sm-12">
						<div class="panel panel-default" style="border:0; box-shadow: none;">
							<h2 class="panel-heading"><b>DisEasy: Evaluations made easy.</b></h2>
			    			<!--This is the form that contains the demographics information-->
			    			<form class="form-horizontal">
			    			<!--Condition label and dropdown menu-->
				    			<div class="form-group" style="margin-left: 10px">
				    				<!--<label for="inputEmail3" class="col-sm-2 control-label">Condition:</label>-->
				    				<div class="col-sm-12">

                      <p align = "center"><img src="{% static 'img/DiseasyMission.PNG' %}" width="900" height="450" alt=""></p>

				    					<p align="Just">The recent advances in digital therapeutics encourages adults to interface with technology (i.e. MayoClinic, WebMD) before seeking physician consultation. More patients are seeking alternatives to affordable health care and personal health information which has led to the rise of private organizations that provide lab result data to patients directly, bypassing physician supervision. While it may be more fiscally advantageous to seek private lab testing, it lacks the physician interpretation and global perspective necessary to take action.</p>

				    					<br />
				    					<br />
                      <p align = "center"><img src="{% static 'img/patientdiagram.PNG' %}" width="900" height="450" alt=""></p>
				    					<br />
				    					<br />

										<p>As a result, DisEasy was developed to fill the knowledge gap present when patients are seeking reliable clinical lab result intepretations without the aid a physician. Therefore, this application provides benefits to: <ol> 
										<li>Patient users who have sought private results and are looking to have their results reliably interpreted</li>
										<li>Patient users who would like to obtain personal health correlations relative to the global population</li>
										</ol></p>

										<p><i>Disclaimer:</i> This application is not intended for medical diagnostic use. Please seek your doctor if you have any concerns regarding your lab results.</p>
									</div>
					  			</div>
					  		<!--Form has ended-->
							</form>
            			</div>
          			</div>
          			<div class="col-sm-12">
						<div class="panel panel-default" style="border:0; box-shadow: none;">
							<h2 class="panel-heading"><b>Developers</b></h2>
			    			<!--This is the form that contains the demographics information-->
			    			<form class="form-horizontal">
			    			<!--Condition label and dropdown menu-->
				    			<div class="form-group" style="margin-left: 10px">
				    				<!--<label for="inputEmail3" class="col-sm-2 control-label">Condition:</label>-->
				    				<div class="col-sm-10">
				    					<b>Angeline Aguinaldo</b>, 
				    					<tab>B.S. Biomedical Engineering, Drexel University</tab><br />
				    					<b>Kofi Lewis</b>, B.S. Computer Science, Drexel University<br />
				    					<b>Lucy Moss</b>, B.S. Software Engineering, Drexel University<br />
				    					<b>Joel Parks</b>, B.S. Computer Science, Drexel University<br />
				    					<b>Julian Plotnick</b>, B.S. Computer Science, Drexel University<br />
				    					<b>Flint Rowell</b>, B.S. Computer Science, Drexel University<br />
									</div>
					  			</div>
					  		<!--Form has ended-->
							</form>
            			</div>
          			</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-fixed-bottom" style="background-color: #77bbbb; color:black;">
			<div class="container">
				<p style="text-align: center; margin-top: 10px"><i>Understand your lab results today</i></p>
			</div>
		</nav>

	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	    <script src="https://d3js.org/d3.v4.min.js"></script>
 
	</body>
</html>
